
@font-face {
    font-family: "BloodWax";
    src: url(../img/BloodWax.otf) format("opentype");
}

* {
	font-family: "BloodWax";
	color: red;
}

body {

background-image: url("../img/redandblack.jpg");
background-size: cover;
font-family: "BloodWax";


}


.player {
	width: 100%;
}


.player-half {
	/*display: inline-block;*/
	/*float: left;*/
	/*width: 50%;*/
}

/*************
HEADER
************/
.player-header {
	/*position: fixed;*/
	height: 70px;
	line-height: 70px;
	/*border: 1px solid black;*/
	background-color: #000;
}

.player-header-title{
	font-size: 55px;
	padding-top: 10px;
	color: red;
}


.player-header-upload {
	float: right;
	color: red;
}


/************
MUSIC LIBRARY
*************/


.player-songs {
	padding-top: 1px;
	width: 50%;
	height: 50%;
	background-color:rgba(50, 0, 0, 0.95) ;
	margin: 0 auto;
	border-radius: 5px;

}

.current-song {
	background-color: #000;
	border-radius: 5px;
}

.player-songs-song {
	/*width: 100%;*/
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	font-family: "BloodWax";
	color: red;
}

.player-songs-song-artist {
	font-size: 18px;

}

.player-songs-song-title {
	font-size: 24px;
}

.player-songs-song-image {
}

.player-songs-song-genre {
	text-align: right;
	font-size: 10px;

}

.player-songs-song-description {
	font-size: 10px;
}

.player-songs-song-time {
	text-align: right;
}


/**************
 SOUNDCLOUD
***************/

/*.soundcloud-song {
	height: 100px;
	width: 400px;
	margin: 0 auto;
}*/

/*.soundcloud-song-image {
	width: 50px;
	height: 50px;
	float: right;
}*/

/*.soundcloud-song-info {
	width: 300px;
	height: 100px;
	padding-left: 20px;
	float: left;
}*/

/*.soundcloud-song-play {
	display: none;
}*/
/*.soundcloud-song-play.canPlay {
	display: block;
}*/
.player-control-soundcloud {
	float: right;
	background-color: #000;
	height: 100%;
	width: 60%;
}

.soundcloud-input {
	width: 400px;
}



/***************
PLAYER CONTROLS
***************/

.control-space {
	height: 100px;
}
.player-control {
	background-color: rgb(50,0,0);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	display: inline;
}

.player-control .isDisabled {
	opacity: 0.5;
	pointer-events: none;
}

.player-control  div {
	display: inline-block;
	/*margin: auto;*/

}
.player-control-buttons {
	padding-top: 5px;
	padding-left: 180px;

	width: 25%;
}

.player-display {
}




.player-control-play {
	width: 60px;
	height: 60px;
	margin: 2px;
	border-radius: 10px;

}



.player-control-stop,
.player-control-next {

	width: 40px;
	height: 40px;
	margin: 2px;
	border-radius: 10px;

}
/*
.player-control-shuffle {
	height: 40%;
	border-radius: 10px;

}*/
