

.player {

}

.sc-results {
	height: 500px;
	width: 500px;
	border: 1px solid black;
}

.current-song {
	background-color: red;
}

.player-songs-song {
	width: 33%;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	font-family: "Helvetica";
}

.player-songs-song-artist {

}

.player-songs-song-title {
	font-size: 22px;
}

.player-songs-song-time {
	text-align: right;
}

.player-control {
	background-color: rgb(48, 49, 52);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: inline;
}

.player-control .isDisabled {
	opacity: 0.5;
	pointer-events: none;
}

.player-control div {
	float: left;


}
.player-control-left {
	width: 30%;
}

.player-display {
	width: 50%;
	height: 100%;
	border: 2px solid black;
}

.player-control-right {
	width: auto;
}


.player-control-stop,
.player-control-play,
.player-control-next {

	width: 25%;
	height: 40px;
	margin: 2px;
	border-radius: 10px;

}

.player-control-shuffle {
	height: 40%;
	border-radius: 10px;

}

.soundcloud {
	float: right;
}

/*.soundcloud-title {
	text-align: center;
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 8px;
	margin: 0 auto 20px;
	text-transform: uppercase;
}*/

.soundcloud-input {
	display: block;
	width: 400px;

}

/*.soundcloud-song {
	height: 100px;
	width: 400px;
	margin: 0 auto;
}*/

/*.soundcloud-song-image {
	width: 100px;
	height: 100px;
	float: left;
}*/

/*.soundcloud-song-info {
	width: 300px;
	height: 100px;
	padding-left: 20px;
	float: left;
}*/

/*.soundcloud-song-play {
	display: none;
}*/
/*.soundcloud-song-play.canPlay {
	display: block;
}*/
